@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");


body{
    background:url(../images/clip2.jpg );
    
}

nav{
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    margin-top: 20px;
    opacity: 0.5;
}

nav:hover{
    opacity: 1.0;
}

ul li{
    display: inline;
    padding: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    word-spacing: 4px;
    font-size: 20px;
    
    
}

ul li a{
    text-decoration: none;
    color: whitesmoke;

}
a:link{
    text-decoration: none;
}

ul li a:hover{
    color:black;
    background-color: white;
    height: 10px;
    -webkit-transition: color 1s,background-color 1s;
    
}
.btn:hover{
background-color: cornflowerblue;
border-radius: 20px;
-webkit-transition: background-color 1s;
 }

 .ed:hover{
     border-radius: 20px;
     background-color: forestgreen;
 }

 .top{
     float: left;
 }

 .ch{
     position: fixed;
     border-radius: 30px;
     
 }
  .ch:hover{
      position: absolute;
      margin-left: 2px;
  }

  .fb:hover{
      
      margin-left: 80px;

      -webkit-transition: margin-left 1s;
  }
  .tw:hover{
      
      margin-left: 65px;

      -webkit-transition: margin-left 1s;
  }
  .yt:hover{
      
      margin-left: 70px;

      -webkit-transition: margin-left 1s;
  }
  .google:hover{
      
      margin-left: 65px;

      -webkit-transition: margin-left 1s;
  }