@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
.signup{
    margin-top: 50px;
    margin-left: 370px;
    height: 670px;
    width: 400px; 
    
    color:whitesmoke;
    border-radius:5%;

}

body{
    background-color: cornflowerblue;
    background:url(../images/clip2.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
}

.nw{
    margin:100px; 
}

.frm{
    padding-left:30px;
    padding-right: 30px;
}

.nbt:hover{
    border-radius:10px;
    border-color:white; 
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.sex{
    font-size: 15px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

input:hover{
background-color: aliceblue;
}

select:hover{
    background-color: whitesmoke;
}